@model Cars.Models.Car
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars Detail</h2>
<input type="text" />
<p>Id: @Model.id</p>
<p>Brand: @Model.Brand</p>
<p>Model: @Model.Model</p>
<p>Type: @Model.Type</p>
<p>Year: @Model.Year</p>

